body {
    font-size: 18px;
    background-color: #fafafa;
}

#chat {
    padding: 1rem 1rem;
}

@media only screen and (max-width: 576px) {
    #header-content > span {
        width: 100% !important;
    }

    #chat{
        margin: 0 0;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    #header-content > span {
        width: 100% !important;
    }

    #chat{
        margin: 0 0;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 992px) {
    #header-content > span {
        width: 100% !important;
    }

    #chat{
        margin: 0 0;
        max-width: 100% !important;
    }
}

#chatRow {
    height: 50vh;
    box-shadow: 0 13px 5px -1px rgb(0 0 0 / 20%);
}

#messageArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background-color: #fff;
}

#users {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 14%), 0 0 18px 0 rgb(0 0 0 / 12%), 0 0 5px -1px rgb(0 0 0 / 20%);
    padding: 1rem 1rem;
    z-index: 100;
}

#users > div {
    overflow-y: auto;
}

#messages {
    overflow-y: auto;
    word-break: break-word;
    list-style: none;
}

.msgTime {
    font-size: .75rem;
}
#form > button {
}

p.userName {
    display: inline-block;
    margin-right: 1rem;
}

#changeUserName {
    font-size:.6rem;
    display: inline-block;
    float: right;
}

#nav-chat-tab, #nav-share-tab, #nav-contact-tab {
    font-size: 2rem;
    margin: 0 1rem;
}

.nav-link {
    background-size: 0 100%;
}

/*.nav-link:hover {
    background-image: linear-gradient( 120deg,#ffbee5 0%,#ffd788 70%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 88%;
    transition: background-size .25s ease-in;
}*/

#input {
    border: 2px solid #a4b4f18c;
    padding: 1rem 1rem;
}

input[type="file"] {
    display: none;
}

input#currentUserInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem 1rem;
}

#siofuIcon {
    margin: 0 auto;
}

#form > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6e6e6;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

ul > li:nth-child(odd) {
    background-color: #f7f7f7;
}

#header {
    background-color: #fff;
}

#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#header-content > span {
    width: 50vh;
    font-size: 1.5rem;
    line-height: 1.7em;
}
