html
  head
    title= title
  body
    h1= message
    ul#messages
    form#form(action="")
      input#input
      button Send
    script (src="/socket.io/socket.io.js")
    script (src="./main.js")