div#chat.container
  #chatRow.row
    #users.col-3
      h5 Active Users
      hr
    #messageArea.col-9
      ul#messages
  form#form(action="", autocomplete="off").row
    input#input.col-sm-10(placeholder="Type your message here")
    input#siofu_input(type="file", onchange="chatFunctions.fileChange()")
    label(for="siofu_input").custom-file-upload.col-sm-1
        i#siofuIcon.fas.fa-image.fa-lg
    button#formSubmit.col-sm-1.custom-file-upload
        i.fas.fa-share.fa-lg
  .modal.fate#settingsModal(tabindex="-1", aria-labelledby="settingsModal", aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      form#nameChangeForm.modal-content(action="", autocomplete="off")
        .modal-header
          h5.modal-title#settingsModalLabel Change User Name
          button(type="button", data-bs-dismiss="modal", aria-label="Close").btn-close
        .modal-body
          input#currentUserInput(autocomplete="off", placeholder="Type your new user name")
        .modal-footer
          button(type="button", data-bs-dismiss="modal", onclick="chatFunctions.change()").btn.btn-primary Save
          button#nameChangeClose(type="button", data-bs-dismiss="modal").btn.btn-secondary Close
