div.container
  #chatRow.row
    #users.col-md-2
      h5 Active Users
      hr
    #messageArea.col-md-8
      ul#messages
  form#form(action="", autocomplete="off").row
    input#input
    button Send