doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap-v5.0.0/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/bootstrap-v5.0.0/bootstrap.bundle.min.js")
  body
    //h1= message
    include ./header.pug
    include ./chat.pug
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")